
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
.project
.classpath
.settings
target
./target
./settings
/.metadata
.factorypath

services/target
services/.settings
services/.classpath
services/.project
services/.distribution
services/.metadata

login/target
login/.settings
login/.classpath
login/.project
login/.distribution
login/.metadata

rest-client/target
rest-client/.settings
rest-client/.classpath
rest-client/.project
rest-client/.distribution
rest-client/.metadata

webui/target
webui/.settings
webui/.classpath
webui/.project
webui/.distribution
webui/.metadata

models/target
models/.settings
models/.classpath
models/.project
models/.metadata

tomee

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
